/* second way to custom font */
@font-face {
    src: url(./fonts/JetBrainsMono-Medium.ttf);
    font-family: JetBrainsMonoMedium;
}

.header {
    font-size: 1.5em;
    color: rgb(242, 242, 242);
    background-color: rgb(0, 24, 24);
    padding: 10px;
    /* second way to custom font */
    /* font-family: JetBrainsMonoMedium; */
    font-family: 'JetBrains Mono', monospace;
}

.container {
    width: 80%;
    margin: auto;
}

.title {
    font-size: 2.5em;
    font-family: 'JetBrains Mono', monospace;
}

.paragraph {
    font-size: 1.5em;
    line-height: 1.6em;
    font-family: Arial, Helvetica, sans-serif;
}

.paragraph_2 {
    font-size: 1.5em;
    line-height: 1.6em;
    font-family: 'JetBrains Mono', monospace;
    font-weight: 200;
}